.title-container, .search-container, .sort-container {
    background-color: #61aad4;
}

.pokemon-container {
    background-color: #61aad4;
}

.card-full {
    background-color: #f3d943;
}

.sidebar-container {
    background-color: #d8deb3;
}